[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
airflow-db-logger = "==2.0.1"
airflow-kubernetes-job-operator = "*"
apache-airflow = "==2.1.2"
kubernetes = "*"
zthreading = "*"

[dev-packages]

[requires]
python_version = "3.8"
