# generate a transient postgres-xl db with username and password. This db will
# NOT be able to withstand restarts.
releases:
  - name: test-zairflow
    # Use of a specific release.
    # chart: https://github.com/[....]/version.tar.gz
    chart: ../../helm
    values:
      - ./airflow_values.yaml
      - executor:
          type: KubernetesExecutor
      - envs:
          TEST_ENV: "my test env 9"
          GIT_AUTOSYNC_REPO_BRANCH: {{env "GIT_AUTOSYNC_REPO_BRANCH" | default "master"}}
          GIT_AUTOSYNC_SSH_KEY: {{ env "GIT_AUTOSYNC_SSH_KEY" | default "" | quote }}
          GIT_AUTOSYNC_REPO_URL: {{ env "GIT_AUTOSYNC_REPO_URL" | default "" | quote }}
      - init_environment:
          auto_delete: false
      - serviceAccount:
          enabled: true
          allowKubernetesAccess: true
        #   roleBinding: allow-all-role
        #   roleBindingKind: ClusterRole
